@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.long-image-container {
  /* Set the desired height for the container */
  height: 800px;
  /* width: 700px; */
  /* height: 1600px; */
  /* Enable vertical scrolling */
  overflow-y: scroll; 
}

.long-image {
  width: 100%; /* Adjust the width as needed */
}